<!-- Header aqui -->
<%- include('./partials/header.ejs')%>

<body>
    <!-- Navbar aqui -->
    <%- include('./partials/navbar.ejs')%>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2 class="card-title"><%= pergunta.titulo %></h2>
            </div>
            <div class="card-body">
                <p class="card-text"><%= pergunta.descricao %></p>
            </div>
        </div>
        <hr>
        <form method="POST" action="/responder">
            <h2 class="card-title">Sua resposta:</h2>
            <br>
            <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea><br>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
            <button type="submit" class="btn btn-dark">Responder</button>
        </form>
        <hr>
        <h3 class="responder">Respostas:</h3>
        <% respostas.forEach(resposta => {%>
        <br>
        <div class="card">
            <div class="card-body">
                <p><%= resposta.corpo %></p>
            </div>
        </div>
        <br>
        <% }) %>
    </div>
</body>
<!-- Footer/Scripts Aqui -->
<%- include('./partials/footer.ejs')%>